@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-dark.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: var(--violet-8);
    --primary-foreground: 222.2 84% 4.9%;

    --accent: var(--violet-9);
    --accent-foreground: var(--violet-4);

    --muted: 0 0% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 10%, 4%;
    --foreground: 210 40% 98%;

    --primary: var(--violet-5);
    --primary-foreground: 210 40% 98%;

    --accent: var(--violet-11);
    --accent-foreground: var(--violet-5);

    --muted: 0 0 10%;
    --muted-foreground: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-primary;
  }
  body {
    @apply bg-background text-foreground;
  }
}
